// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
padding: 20px;
font-size: 25px;

}

.container {
  display: flex;
}

#new {
  border-top: solid 1px black;
}

p {
  font-size: 20px;
}

p a:link {
    text-decoration:none;
}
